 .container-login {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .card-login {
     display: flex;
     width: 800px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     overflow: hidden;
 }

 .left-panel {
     background-color: #fff;
     padding: 40px;
     flex: 1;
 }

 .right-panel {
     background: linear-gradient(135deg, #ff6b6b, #f06595);
     color: #fff;
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .btn-custom {
     border: 2px solid var(--primary-color);
     color: var(--primary-color);
 }

 .btn-custom:hover {
     background: var(--primary-color);
     color: white;
 }

 .logo {
     width: 60px;
     margin-bottom: 20px;
 }