
body {
  background: #f5f5f5;
}

.navbar {
  position: relative;
  z-index: 10;
}

.logo-box {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* cercle */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* couleur du texte */
.navbar-brand {
  color: #f686be !important;
}

.brand-name {
  font-size: 2rem;
  font-weight: 700;
  color: #2c1846;
}

.menu-link {
  font-weight: 600;
  color: #2c1846;
}

.buy-btn {
  background: #2c1846;
  color: white;
  border-radius: 40px;
  padding: 14px 30px;
  font-weight: 600;
}

.buy-btn:hover {
  background: #2c1846;
  color: white;
}

.hero-section {
  padding: 0 25px 60px;
}

.hero-content {
  background: #0a4e41;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  padding: 70px 80px 120px;
  position: relative;
  overflow: visible;
}

.hero-title {
  font-size: 6rem;
  font-weight: 800;
  color: black;
}

.products-info {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.products-info h2 {
  font-size: 3rem;
  font-weight: 800;
}

.products-info p {
  font-size: 1.5rem;
  line-height: 1.4;
}

.hero-description {
  max-width: 320px;
}

.hero-description p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #1f1f1f;
}

.start-btn {
  background: #d79a57;
  color: black;
  border-radius: 40px;
  padding: 14px 35px;
  font-weight: 700;
  border: none;
}

.start-btn:hover {
  background: #d79a57;
  color: black;
}

.product-image-wrapper {
  margin-top: 70px;
  margin-bottom: -280px;
}

.product-image {
  width: 700px;
  border-radius: 60px;
}

.floating-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.plus-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ff5c75;
  color: white;
  font-size: 2rem;
  border: none;
}

.plus-btn:hover {
  background: #ff5c75;
  color: white;
}

@media (max-width: 992px) {
  .hero-content {
    padding: 50px 25px 100px;
  }

  .hero-title {
    font-size: 3rem;
  }

  .products-info {
    justify-content: center;
  }

  .hero-description {
    margin: auto;
  }

  .product-image {
    width: 100%;
  }
}
body{
    background:#f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar{
    margin:20px;
    border-radius:10px;
}

/* NAV LINKS */
.nav-link{
    color:var(--secondary-color) !important;
    font-size:18px;
     transition: 0.3s ease;
}

.nav-link:hover{
    color: var(--primary-color) !important;
}

/* bouton connexion */
.login-btn{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 22px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
}

.login-btn:hover{
    background: var(--primary-color);
    color: white;
}

/* bouton inscription */
.register-btn{
    background: var(--primary-color);
    color: white;
    padding: 10px 22px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
}

.register-btn:hover{
    background: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/* bouton panier */
.cart-btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.cart-btn:hover{
    background: #2596be;
    color: white;
}

/* BUTTON NAVBAR */
.custom-btn{
    background:#2f1748;
    color:white;
    padding:14px 30px;
    border-radius:40px;
    font-weight:600;
}

.custom-btn:hover{
    background:#24113a;
    color:white;
}

/* HERO SECTION */
.hero-section{
    padding:40px 0 120px;
}

.hero-container{
    background: var(--primary-color) ;
    border-radius:0 0 80px 80px;
    padding:70px 60px 220px;
    position:relative;
    overflow:visible;
}

/* TITLE */
.hero-title{
    text-align:center;
    font-size:70px;
    font-weight:700;
    color:var(--secondary-color);
}

/* LEFT SIDE */
.products-count{
    display:flex;
    align-items:flex-start;
    gap:15px;
}

.products-count .number{
    font-size:55px;
    font-weight:800;
    line-height:1;
}

.products-count .text{
    font-size:30px;
    line-height:1.2;
}

/* RIGHT SIDE */
.hero-text{
    font-size:32px;
    font-weight:500;
    color:black;
    margin-bottom:30px;
}

.start-btn{
    background:var(--secondary-color);
    border:none;
    padding:15px 35px;
    border-radius:40px;
    font-weight:700;
    color:var(--primary-color);
}

.start-btn:hover{
    background:#325d67;
    color:var(--primary-color);
}

/* IMAGE */
.image-wrapper{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-200px; /* moitié dedans moitié dehors */
    z-index:10;
}

.product-image{
    width:300px; /* diminue la taille */
    max-width:100%;
    border-radius:40px;
     object-fit:cover;
}

.text-color{
  color: var(--secondary-color);
}

/* RESPONSIVE */
@media(max-width:992px){

    .hero-title{
        font-size:55px;
    }

    .hero-text{
        font-size:24px;
    }

    .products-count .number{
        font-size:40px;
    }

    .products-count .text{
        font-size:22px;
    }

    .image-wrapper{
        position:relative;
        bottom:0;
        margin-top:40px;
    }

    .hero-container{
        padding-bottom:60px;
    }

}